[workspace]
name = "bodo"
channels = ["bodo.ai", "conda-forge"]
platforms = ["linux-64", "linux-aarch64", "osx-64", "osx-arm64", "win-64"]
conda-pypi-map = { "bodo.ai" = "buildscripts/bodo_mapping.json" }

[environments]
# Development
default =      { features = ["py314", "rcpp", "dev", "local-mpi"],          solve-group = "314" }
azure =        { features = ["py314", "rcpp", "dev", "local-mpi", "azure"], solve-group = "314" }
# Platform
platform =     { features = ["py313", "rcpp", "platform", "platform-mpi"],  solve-group = "313-platform" }
platform-dev = { features = ["py313", "rcpp", "dev", "platform-mpi"],       solve-group = "313-platform" }
# Pip C++ Deps
pip-cpp-win = { features = ["rcpp", "local-mpi", "pip"], no-default-feature = true, solve-group = "pip-win" }
pip-cpp-macos = { features = ["rcpp", "local-mpi", "pip"], no-default-feature = true, solve-group = "pip-mac" }


# Build Commands
[tasks.build-bodo]
cmd = "pip install --no-deps --no-build-isolation -ve ."
inputs = ["bodo/**/*.cpp", "bodo/**/*.h", "bodo/**/*.pyx", "bodo/**/*.pxd"]
[tasks.build-bodo.env]  # SCcache Envs
SCCACHE_BUCKET = "engine-codebuild-cache"
SCCACHE_REGION = "us-east-2"
SCCACHE_S3_USE_SSL = "true"
SCCACHE_S3_SERVER_SIDE_ENCRYPTION = "true"

[tasks.build-bodo-debug]
cmd = "pip install --no-deps --no-build-isolation -Ccmake.build-type='Debug' -Cinstall.strip=false -ve ."
inputs = ["bodo/**/*.cpp", "bodo/**/*.h", "bodo/**/*.hpp", "bodo/**/*.pyx", "bodo/**/*.pxd"]
[tasks.build-bodo-san]
cmd = "pip install --no-deps --no-build-isolation -Ccmake.build-type='DebugSanitize' -Cinstall.strip=false -ve ."
inputs = ["bodo/**/*.cpp", "bodo/**/*.h", "bodo/**/*.hpp", "bodo/**/*.pyx", "bodo/**/*.pxd"]

[tasks.build-bodosql]
cmd = "pip install --no-deps --no-build-isolation -ve ."
cwd = "BodoSQL"
inputs = [
    "BodoSQL/calcite_sql/pom.xml",
    "BodoSQL/calcite_sql/bodosql-calcite-application/pom.xml",
    "BodoSQL/calcite_sql/bodosql-calcite-application/src/**/*.java",
    "BodoSQL/calcite_sql/bodosql-calcite-application/src/**/*.kt",
    "BodoSQL/calcite_sql/bodosql-calcite-application/src/**/*.sql",
]
outputs = ["BodoSQL/bodosql.egg-info/"]
[tasks.build-iceberg]
cmd = "pip install --no-deps --no-build-isolation -ve ."
cwd = "iceberg"
inputs = ["iceberg/bodo_iceberg_connector/iceberg-java/pom.xml", "iceberg/bodo_iceberg_connector/iceberg-java/src/"]
outputs = ["iceberg/bodo_iceberg_connector.egg-info/"]

[tasks]
# Building
bb = { depends-on = ["build-bodo"] }        # Alias for build-bodo
bbd = { depends-on = ["build-bodo-debug"] } # Alias for build-bodo-debug
bbs = { depends-on = ["build-bodo-san"] }   # Alias for build-bodo-san
bsql = { depends-on = ["build-bodosql"] }   # Alias for build-bodosql
bi = { depends-on = ["build-iceberg"] }     # Alias for build-iceberg
build = { depends-on = ["build-bodo", "build-bodosql", "build-iceberg"] }
b = { depends-on = ["build"] }              # Alias for build
# Additional
clean = { cmd = "pip uninstall -y bodo bodosql bodo-iceberg-connector && bash buildscripts/clean.sh" }


[system-requirements]
macos = "12.0"

[dependencies]
pip = "*"
# Core Python Deps
numba = ">=0.62,<0.64.0"
numpy = ">=1.24"
pandas = ">=2.2"
pyarrow = { version = "==22.0.0", channel = "conda-forge" }
fsspec = ">=2021.09"
requests = "*"
cloudpickle = ">=3.0"
psutil = "*"
# Core Java Deps
openjdk = "=17"
py4j = "==0.10.9.9"
# HDFS
h5py = "*"
# Data Science
scipy = "*"
# sklearn 1.8 is not compatible with imblearn 0.14 used  in credit card fraud notebook
scikit-learn = ">=1.4,<1.8"
matplotlib ="*"
# IO
boto3 = ">=1.35.74"
botocore = "*"
# Min bound is necessary. Otherwise s3fs will occasionally install v0.4.2
# Due to s3fs pinning aiobotocore and not regularly updating
s3fs = ">=2022.1"
adlfs = ">=2022.1"
pyiceberg = ">=0.10"
mypy-boto3-glue = "*"  # Required for PyIceberg Glue Catalog
huggingface_hub = "*"
zstandard = "*"
# Databases
pymysql = "*"
psycopg2 = "*"
sqlalchemy = "*"
# Snowflake
snowflake-connector-python = "*"
# Excel
xlrd = "*"
xlsxwriter = "*"
openpyxl = "*"
cx_oracle = "*"
pyzmq = "*"

[target.linux-64.dependencies]
pyarrow = { version = "==22.0.0", channel = "bodo.ai" }
pyarrow-core = { version = "==22.0.0", channel = "bodo.ai" }
libarrow = { version = "==22.0.0", channel = "bodo.ai" }

# Runtime C++ Deps
[feature.rcpp.dependencies]
zstd = "*"
boost-cpp = "*"
aws-sdk-cpp = "*"

[feature.rcpp.target.osx.dependencies]
hdf5 = { version = "*", build = "*mpi_openmpi_*" }
[feature.rcpp.target.linux.dependencies]
hdf5 = { version = "*", build = "*mpi_openmpi_*" }
[feature.rcpp.target.win.dependencies]
hdf5 = { version = "*", build = "*mpi_impi_*" }

[feature.dev.dependencies]
# Build Python
setuptools = ">=64"
setuptools_scm = ">=8"
cython = ">=3.0"
scikit-build-core = "*"
# Copied into bodo/mpi4py (pip only)
mpi4py = ">=4.0"

# Build C++ Deps
# Adding constraint on cmake to allow zstd 1.5.7 (necessary for conda-forge).
cmake = "<4.0,>=3.23"
ninja = "*"
make = "*"
ccache = "*"
sccache = "*"

# BodoSQL & Iceberg Testing
maven = "*"
sqlglot = "*"
# Once 1.2.2 is released, we can remove this, test_non_numeric_window_functions fails on 1.2.1
duckdb = "!=1.2.1"

# Restricted due to Spark 4.1 error in bodo/tests/test_df_lib/test_iceberg.py::test_simple_table_read[PARTITIONS_DT_TABLE]
pyspark = "4.0.*"
matplotlib = "*"
# Iceberg Testing
mmh3 = "*"
avro = "*"  # Reading avro
# Polaris (installed via pip) requires boto3/botocore <1.39
# TODO[BSE-5031]: Enable polaris tests after fixing pip installation issues
boto3 = "*"

# Documentation Testing
beautifulsoup4 = "*"

# Snowflake Testing
snowflake-sqlalchemy = "*"

# S3 Testing
minio-server = "*"
# GCS testing
gcsfs = ">=2022.1"

# Testing and CI Tools
# pytest-split 0.10.0 requires pytest <9. Older pytest-split throws errors in our use.
pytest = "<9"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
pytest-timeout = "*"
pytest-split = "*"
flaky = "*"
testcontainers = "*"

# Other Deps
pyyaml = "*"

# Developer Tools
ruff = "*"
pre-commit = "*"
ipython = "*"

# Generation/Embedding Tests
openai = "*"

# TODO: Enable when PyTorch is available on Python 3.14
# pytorch = ">=2.0"

# For deltalake testing
# As of 2023-10-06, deltalake requires pyarrow <=12.0.0
# - pip:
#   - deltalake
# Future ML Libraries
# Used to be installed on AWS CIs
# - pytorch=1.9
# - bokeh=2.3
# - torchvision=0.10
# - tensorflow
# - pip:
#   - horovod

[feature.py314.dependencies]
python = "3.14.*"

# The platform uses Python 3.13 to be compatible with conda in the base environment.
# TODO: Update platform environment to use Python 3.14 once conda is compatible with it.
[feature.py313.dependencies]
python = "3.13.*"

# Compilers and Related
[feature.dev.target.linux-64.dependencies]
gcc_linux-64 = ">=9"
gxx_linux-64 = ">=9"

[feature.dev.target.linux-aarch64.dependencies]
gcc_linux-aarch64 = ">=9"
gxx_linux-aarch64 = ">=9"

[feature.dev.target.osx-64.dependencies]
# Adding clang =19 to prevent build errors from upgrading zstd
# Consistent with conda package env
clang_osx-64 = "=19"
clangxx_osx-64 = "=19"
clang-tools = "=19"

[feature.dev.target.osx-arm64.dependencies]
clang_osx-arm64 = "=19"
clangxx_osx-arm64 = "=19"
clang-tools = "=19"

[feature.platform]
platforms = ["linux-64"]
channels = ["conda-forge"]
[feature.platform.target.linux-64.dependencies]
ipython = "==8.16.1"
ipykernel = "==6.29.3"
ipywidgets = "==8.1.1"
nbconvert = "6.5.*"
jupyter_client = "==8.6.1"
uvicorn = "*"
fastapi = "*"
httpie = "*"

# MPI Handling
# Restricted to match Intel MPI. Upgrade with IMPI.
# Using h* to avoid the "external_*" kind
[feature.local-mpi.target.osx.dependencies]
openmpi = { version = "*" }
[feature.local-mpi.target.linux.dependencies]
openmpi = { version = "*" }
[feature.local-mpi.target.win.dependencies]
impi-devel = "*"

[feature.platform-mpi]
channels = ["conda-forge", "conda-forge/label/broken"]
platforms = ["linux-64"]
# # Want to use Intel MPI on platform, so use "external_*"
# # https://conda-forge.org/docs/user/tipsandtricks/#using-external-message-passing-interface-mpi-libraries
# dependencies = { mpich = { version = "*", build = "external_*", channel = "conda-forge/label/broken" } }
dependencies = { openmpi = "*" }

# Feature pip
[feature.pip.target.osx-64.dependencies]
# Adding clang =19 to prevent build errors from upgrading zstd
# Consistent with conda package env
clang_osx-64 = "=19"
clangxx_osx-64 = "=19"

[feature.pip.target.osx-arm64.dependencies]
clang_osx-arm64 = "=19"
clangxx_osx-arm64 = "=19"

# Azure CI
[feature.azure.dependencies]
pytest-azurepipelines = "*"
pytest-nunit = "*"
