[project]
name = "bodo"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64"]
conda-pypi-map = { "bodo.ai" = "buildscripts/bodo_mapping.json" }

[environments]
default = { features = ["py312", "dev", "local-mpi"], solve-group = "312" }
dev311 = { features = ["py311", "dev", "local-mpi"], solve-group = "311" }
dev310 = { features = ["py310", "dev", "local-mpi"], solve-group = "310" }
platform = { features = ["py312", "platform-mpi", "platform"], solve-group = "312-platform" }
platform-dev = { features = ["py312", "platform-mpi", "dev"], solve-group = "312-platform" }
azure = { features = ["py312", "dev", "local-mpi", "azure"], solve-group = "312" }

# Build Commands
[tasks.build-bodo]
cmd = "pip install --no-deps --no-build-isolation -ve ."
inputs = ["bodo/**/*.cpp", "bodo/**/*.h", "bodo/**/*.pyx", "bodo/**/*.pxd"]
[tasks.build-bodosql]
cmd = "pip install --no-deps --no-build-isolation -ve ."
cwd = "BodoSQL"
inputs = [
    "BodoSQL/calcite_sql/pom.xml",
    "BodoSQL/calcite_sql/bodosql-calcite-application/pom.xml",
    "BodoSQL/calcite_sql/bodosql-calcite-application/src/**/*.java",
    "BodoSQL/calcite_sql/bodosql-calcite-application/src/**/*.kt",
    "BodoSQL/calcite_sql/bodosql-calcite-application/src/**/*.sql",
]
outputs = ["BodoSQL/bodosql.egg-info/"]
[tasks.build-iceberg]
cmd = "pip install --no-deps --no-build-isolation -ve ."
cwd = "iceberg"
inputs = ["iceberg/bodo_iceberg_connector/iceberg-java/pom.xml", "iceberg/bodo_iceberg_connector/iceberg-java/src/"]
outputs = ["iceberg/bodo_iceberg_connector.egg-info/"]

[tasks]
# Building
bb = { depends-on = ["build-bodo"] }        # Alias for build-bodo
bsql = { depends-on = ["build-bodosql"] }   # Alias for build-bodosql
bi = { depends-on = ["build-iceberg"] }     # Alias for build-iceberg
build = { depends-on = ["build-bodo", "build-bodosql", "build-iceberg"] }
b = { depends-on = ["build"] }  # Alias for build
# Additional
clean = { cmd = "pip uninstall -y bodo bodosql bodo-iceberg-connector && bash buildscripts/clean.sh" }


[dependencies]
pip = "*"
# Core C++ Deps
libcurl = "~=8.0"
zstd = "<=1.5.6"
fftw = { version = ">=3.3.10,<3.4.0a0", build = "*mpi_mpich_*" }
hdf5 = { version = ">=1.14.3,<1.14.4.0a0", build = "*mpi_mpich_*" }
"aws-sdk-cpp" = "*"
"boost-cpp" = "1.85"
# Core Python Deps
numba = "0.60.0"
numpy = ">=1.24,<1.27"
pandas = ">=2.2,<2.3"
pyarrow = "17.0.0"
fsspec = ">=2021.09"
requests = "*"
cloudpickle = ">=3.0,<4.0"
# Core Java Deps
openjdk = "=11"
py4j = "==0.10.9.7"

# HDFS
h5py = "*"
# Data Science
scipy = "*"
scikit-learn = "1.4.*"
matplotlib = "<=3.8.2"
# IO
boto3 = "*"
botocore = "*"
# Min bound is necessary. Otherwise s3fs will occasionally install v0.4.2
# Due to s3fs pinning aiobotocore and not regularly updating
s3fs = ">=2022.1"
adlfs = ">=2022.1"
gcsfs = ">=2022.1"
# Databases
pymysql = "*"
psycopg2 = "*"
sqlalchemy = "*"
# Snowflake
snowflake-connector-python = "*"
# Excel
xlrd = "*"
xlsxwriter = "*"
openpyxl = "*"

[target.linux-64.dependencies]
libaio = "*"  # Is this still necessary?
cx_oracle = "*"
[target.osx-64.dependencies]
cx_oracle = "*"

[feature.py312]
channels = ["bodo.ai", "conda-forge"]
dependencies = { python = "3.12.*" }
[feature.py311.dependencies]
python = "3.11.*"
[feature.py310.dependencies]
python = "3.10.*"

[feature.dev.dependencies]
# Build Python
setuptools = ">=64"
setuptools_scm = ">=8"
cython = ">=3.0,<3.1"
"scikit-build-core" = "*"
# Copied into bodo/mpi4py
mpi4py = "~=3.1"

# Build C++
cmake = "*"
ninja = "*"
make = "*"
ccache = "*"
sccache = "*"

# BodoSQL & Iceberg Testing
maven = "*"
sqlglot = "*"
duckdb = "*"
# Note: PySpark 3.5 is necessary for Python 3.12
pyspark = "3.5"
# Iceberg Testing
mmh3 = "*"
avro = "*"  # Reading avro

# Snowflake Testing
snowflake-sqlalchemy = "*"

# Testing and CI Tools
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-timeout = "*"
pytest-split = "*"
flaky = "*"
credstash = "*"

# Other Deps
pyyaml = "*"
psutil = "*"

# Developer Tools
ruff = "*"
pre-commit = "*"
ipython = "==8.16.1"

# For deltalake testing
# As of 2023-10-06, deltalake requires pyarrow <=12.0.0
# - pip:
#   - deltalake
# Future ML Libraries
# Used to be installed on AWS CIs
# - pytorch=1.9
# - bokeh=2.3
# - torchvision=0.10
# - tensorflow
# - pip:
#   - horovod

# Compilers and Related
[feature.dev.target.linux-64.dependencies]
gcc_linux-64 = ">=9"
gxx_linux-64 = ">=9"
[feature.dev.target.osx-64.dependencies]
clang_osx-64 = "=19"
clangxx_osx-64 = "=19"
clang-tools = "=19"
[feature.dev.target.osx-arm64.dependencies]
clang_osx-arm64 = "=19"
clangxx_osx-arm64 = "=19"
clang-tools = "=19"

# Platform Setup (for lockfile only)
[feature.platform]
platforms = ["linux-64"]
[feature.platform.target.linux-64.dependencies]
ipython = "==8.16.1"
ipykernel = "==6.29.3"
ipyparallel = "==8.6.1"
ipywidgets = "==8.1.1"
nbconvert = "6.5.0"
_openmp_mutex = { version = "*", build = "*gnu*" }
jupyter_client = "==8.6.1"
uvicorn = "*"
fastapi = "*"
httpie = "*"

# MPI Handling
# Restricted to match Intel MPI. Upgrade with IMPI.
[feature.local-mpi.dependencies]
# Using h* to avoid the "external_*" kind
mpich = { version = "4.2.*", build = "h*" }
[feature.platform-mpi]
platforms = ["linux-64"]
# Want to use Intel MPI on platform, so use "external_*"
# https://conda-forge.org/docs/user/tipsandtricks/#using-external-message-passing-interface-mpi-libraries
dependencies = { mpich = { version = "4.2.*", build = "external_*" } }

# Azure CI
[feature.azure.dependencies]
pytest-azurepipelines = "*"
pytest-nunit = "*"
