[data-md-color-accent=bodo-green] {
  --md-accent-fg-color: #00c753;
  --md-accent-fg-color--transparent: rgba(0, 199, 83, .1);
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: hsla(0, 0%, 100%, .7)
}

[data-md-color-primary=bodo-light] {
  --md-primary-fg-color: #0B1327;
  --md-primary-fg-color--light: #5d6cc0;
  --md-primary-fg-color--dark: #303fa1;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: hsla(0, 0%, 100%, .7);
  --md-typeset-a-color: #4051b5
}

[data-md-color-primary=bodo-dark] {
  --md-primary-fg-color: #2094f3;
  --md-primary-fg-color--light: #42a5f5;
  --md-primary-fg-color--dark: #1975d2;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: hsla(0, 0%, 100%, .7);
  --md-typeset-a-color: #fff;
}

[data-md-color-primary=bodo-dark] .md-header {
  background-color: #0B1327;
}

.md-footer {
  background-color: #0B1327;
  color: var(--md-footer-fg-color)
}

[data-md-color-primary=bodo-dark] .md-tabs {
  background-color: #0B1327;
}

[data-md-color-primary=bodo-dark] .md-nav__title[for=__drawer] {
  background-color: #0B1327;
}

@media screen {
  [data-md-color-scheme=slate] {
    --md-hue: 232;
    --md-default-fg-color: hsla(var(--md-hue), 75%, 95%, 1);
    --md-default-fg-color--light: hsla(var(--md-hue), 75%, 90%, 0.62);
    --md-default-fg-color--lighter: hsla(var(--md-hue), 75%, 90%, 0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);
    --md-default-bg-color: hsla(var(--md-hue), 15%, 21%, 1);
    --md-default-bg-color--light: hsla(var(--md-hue), 15%, 21%, 0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 21%, 0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 21%, 0.07);
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1);
    --md-code-hl-color: rgba(66, 135, 255, .15);
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: #adcbe0;
    --md-typeset-mark-color: rgba(66, 135, 255, .3);
    --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 94%, 0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 94%, 0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
    --md-typeset-table-color: hsla(var(--md-hue), 75%, 95%, 0.12);
    --md-admonition-bg-color: hsla(var(--md-hue), 0%, 100%, 0.025);
    --md-footer-bg-color: hsla(var(--md-hue), 15%, 12%, 0.87);
    --md-footer-bg-color--dark: hsla(var(--md-hue), 15%, 10%, 1)
  }

  [data-md-color-scheme=slate][data-md-color-primary=black], [data-md-color-scheme=slate][data-md-color-primary=white] {
    --md-typeset-a-color: #5d6cc0
  }

  [data-md-color-scheme=slate] img[src$="#only-light"] {
    display: none
  }

  [data-md-color-scheme=slate] img[src$="#only-dark"] {
    display: initial
  }
}


img[src*='#left'] {
    float: left;
}

img[src*='#right'] {
    float: right;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}

.md-typeset table:not([class]) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    display: inline-block;
    max-width: 100%;
    border-radius: .1rem;
    font-size: .64rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.md-typeset table:not([class]) + * {
    margin-top: 1.5em
}

.md-typeset table:not([class]) td:not([align]), .md-typeset table:not([class]) th:not([align]) {
    text-align: left
}

[dir=rtl] .md-typeset table:not([class]) td:not([align]), [dir=rtl] .md-typeset table:not([class]) th:not([align]) {
    text-align: right
}

.md-typeset table:not([class]) th {
    min-width: 5rem;
    padding: .6rem .8rem;
    background-color: rgba(0, 0, 0, .54);
    color: #fff;
    vertical-align: top
}

.md-typeset table:not([class]) td {
    padding: .6rem .8rem;
    border-top: .05rem solid rgba(0, 0, 0, .07);
    vertical-align: top
}

.md-typeset table:not([class]) tr {
    transition: background-color .125s
}

.md-typeset table:not([class]) tr:hover {
    background-color: rgba(0, 0, 0, .035);
    box-shadow: inset 0 .05rem 0 #fff
}

.md-typeset table:not([class]) tr:first-child td {
    border-top: 0
}

.md-typeset table:not([class]) a {
    word-break: normal
}

.md-typeset__scrollwrap {
    margin: 1em -.8rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.md-typeset .md-typeset__table {
    display: inline-block;
    margin-bottom: .5em;
    padding: 0 .8rem
}

.md-typeset .md-typeset__table table {
    display: table;
    width: 100%;
    margin: 0;
    overflow: hidden
}

.md-typeset .md-typeset__table th:first-of-type {
    width: 25%;
}

.md-typeset .md-typeset__table th:nth-of-type(2) {
    width: 35%;
}

.md-typeset .md-typeset__table th:nth-of-type(3) {
    width: 50%;
}

img[alt*=Sidebar] {
    width: 200px;
}

html, body, h1, h2, h3, p, table, td, th {
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    /*vertical-align: baseline;*/
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /*font-size: 1em;*/
}

html > body { font-size: 20px; }

p { font-size: 1em; line-height: 1.5em; }

table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

table tr.hidden {
    display: none !important;
}

p#no_rows {
    display: none;
    font-size: 1.2em;
}

header .content {
    padding: 1rem 3.5rem;
}

header h2 {
    margin-top: .5em;
    font-size: 1.2em;
}

header.sticky {
    position: fixed;
    left: 0;
    right: 0;
    height: 2.5em;
}

header.sticky .text {
    display: none;
}

header.sticky h1, header.sticky h2 {
    font-size: 1em;
    margin-top: 0;
    display: inline-block;
}

header.sticky .content {
    padding: 0.5rem 3.5rem;
}

header.sticky .content p {
    font-size: 1em;
}

header.sticky ~ #source {
    padding-top: 6.5em;
}

h1 {
    font-size: 1.25em;
    display: inline-block;
}

#filter_container {
    float: right;
    margin: 0 2em 0 0;
}

#source p .annotate.long {
    white-space: normal;
    float: right;
    top: 1.75em;
    right: 1em;
    height: auto;
}

#source {
    padding: 1em 0 1em 3.5rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

#source p {
    position: relative;
    white-space: pre;
}

#source p * {
    box-sizing: border-box;
}

#source p .annotate.short:hover ~ .long {
    display: block;
}

#source p .annotate.long {
    width: 30em;
    right: 2.5em;
}

#source p input {
    display: none;
}

#source p input ~ .r label.ctx {
    cursor: pointer;
    border-radius: .25em;
}

#source p input ~ .r label.ctx::before {
    content: "▶ ";
}

#source p input:checked ~ .r label.ctx::before {
    content: "▼ ";
}

#source p input:checked ~ .ctxs {
    padding: .25em .5em;
    overflow-y: scroll;
    max-height: 10.5em;
}

.md-header__button.md-logo :-webkit-any(img,svg) {
  fill: currentcolor;
  display: block;
  height: 4rem;
  width: auto
}

.md-nav__item {
    overflow-wrap:anywhere;
    /*width: max-content;*/
}


/*setting image width*/
img[alt*=Barrier] {width:400px;}

/*.md-sidebar--primary {*/
/*    width: 15.1rem;*/
/*}*/

.md-typeset h1 {
overflow-wrap: anywhere ;
}

.md-typeset :is(.admonition-title,summary) {
    background-color: #dedcdc;
    border-color: #5a6268;
}


.md-typeset :is(.admonition-title,summary):before {
    background-color: #5a6268;
    -webkit-mask-image: var(--md-admonition-icon--example);
}

.md-typeset :is(.admonition-title,details) {
    border-color: #5a6268;
}

[data-md-color-primary=bodo-light] apiname {
    color: #7c4dff;
}

[data-md-color-primary=bodo-dark] apiname {
    color: #9e7cfc;
}

apihead {
    font-size: 16px;
}

.md-typeset h4{
    visibility: hidden;
    height: 0;
}

.md-typeset :is(.admonition,details) {
    font-size: 0.875em;
}

.md-typeset img, .md-typeset svg {
    margin-top: 1em;
    margin-bottom: 1em;
}

code {
  word-break: normal !important;
}


