#ignore the cache
__pycache__/

#ignore any parquet files generated locally durring testing
*.parquet
*.pq/

#ignore any generated log files
*.log

#ignore any temporary pq files created/used while synthesizing data



