name: Bodo Conda Build (Linux)
on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python Version to Build For'
        type: string
        required: true
      is-release:
        description: 'Is this a release build'
        required: false
        type: boolean
        default: false
      arm:
        description: 'Is this an ARM build'
        required: true
        type: boolean

jobs:
  build-bodo:
    runs-on: ${{ inputs.arm && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    container: ${{ inputs.arm && 'condaforge/linux-anvil-aarch64:alma8' || 'condaforge/linux-anvil-x86_64:alma8' }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Install Git
        run: sudo dnf update -y && sudo dnf install -y git
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Install Build Deps and Get Version
        # Note: mamba is available on the base image
        # Copied from arrow-cpp-feedstock: https://github.com/conda-forge/arrow-cpp-feedstock/blob/dfa19a5ffb2675667d618b1b19d7adb437d6fd50/.scripts/run_osx_build.sh#L24
        run: |
          source /opt/conda/etc/profile.d/conda.sh
          mamba create -y -n bodo_build conda-build anaconda-client python-libarchive-c setuptools_scm -c conda-forge
          conda activate bodo_build
          conda list
          conda config --set conda_build.pkg_format 2

          set -exo pipefail
          # Location is fixed inside Docker container
          git config --global --add safe.directory /__w/Bodo/Bodo 
          echo "BODO_VERSION=`python -m setuptools_scm`" >> $GITHUB_ENV
          echo "IS_RELEASE=`git tag --points-at HEAD`" >> $GITHUB_ENV

      - name: Build Bodo Conda Package
        run: |
          set -exo pipefail
          source /opt/conda/etc/profile.d/conda.sh
          conda activate bodo_build
          cd buildscripts/bodo/conda-recipe

          # --no-verify because it doesn't work for Conda v2 packages
          # --no-anaconda-upload because we'll upload ourselves
          # Sccache works when the files are located in the same path.
          # Conda-Build normally uses a random path. Setting these args disables that.
          # --croot for consistent base directory path for sccache
          # --build-id-pat for consistent build directory path for sccache
          conda build . -c conda-forge \
            --no-verify --no-anaconda-upload \
            --croot $HOME/conda-bld --build-id-pat 'bb' \
            --python '${{ inputs.python-version }}'
        env:
          CONDA_SOLVER: libmamba
          # Sccache Creds
          AWS_ACCESS_KEY_ID: ${{ vars.SCCACHE_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.SCCACHE_AWS_SECRET_ACCESS_KEY }}
          BUILD_WITH_V8: 0

      - name: Upload Conda Package
        uses: actions/upload-artifact@v4
        with:
          name: bodo-conda-${{ inputs.python-version }}-linux-${{ inputs.arm && 'arm' || 'x86' }}
          path: /github/home/conda-bld/

      - name: Publish to Artifactory / Anaconda
        if: ${{ inputs.is-release }}
        run: |
          set -exo pipefail
          source /opt/conda/etc/profile.d/conda.sh
          conda activate bodo_build

          echo "BODO_VERSION: $BODO_VERSION"
          echo "ARTIFACTORY_CHANNEL: $ARTIFACTORY_CHANNEL"
          ./buildscripts/bodo/publish_binary.sh $ARTIFACTORY_CHANNEL $PLATFORM $BODO_VERSION
        env:
          IS_RELEASE: ${{ inputs.is-release }}
          ARTIFACTORY_CHANNEL: SKIP_ARTIFACTORY
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
          PLATFORM: ${{ inputs.arm && 'linux-aarch64' || 'linux-64' }}
