name: Build Bodo Pip Wheel

on:
  workflow_call:
    inputs:
      os:
        description: 'Operating System to Build On/For'
        type: string
        required: true
      bodo_version:
        description: 'Bodo Version to Build'
        type: string
        required: true

# Recommended with setup-micromamba
# https://github.com/mamba-org/setup-micromamba#about-login-shells
defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  build_bodo_wheels:
    permissions:
      id-token: write
      contents: read
    name: Build Bodo Wheels for ${{ inputs.os }}
    runs-on: ${{ inputs.os }}

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::427443013497:role/BodoEngineBuildWheelRole
          role-session-name: BodoEngineBuildWheelSession
          role-skip-session-tagging: true
      - uses: actions/checkout@v4

      # https://github.com/actions/runner-images/issues/10624
      - name: Fix PATH in .bashrc
        if: inputs.os == 'macos-14'
        run: |
          sed -i '' '/; export PATH;/d' ~/.bashrc
          # shellcheck disable=SC2016
          echo 'export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"' >> ~/.bashrc
          # shellcheck disable=SC1090
          source ~/.bashrc
      # We need Pixi to properly configure the C++ compilers for Mac
      # For Linux, we only need C++ dependencies, so installing it and updating
      # some of the envs is enough
      - name: Install Pixi for Compiler
        if: contains(inputs.os, 'macos')
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.36.0
          cache: true
          cache-write: ${{ github.event_name == 'schedule'}}
          environments: 'pip-cpp'
          activate-environment: true
      - name: Install Pixi Global Tools
        if: contains(inputs.os, 'macos')
        run: |
          pixi global install sccache

      - name: Build Wheels
        uses: pypa/cibuildwheel@v2.21.3
        env:
          CIBW_BEFORE_ALL_LINUX: |
            # Install Pixi and Environment
            curl -fsSL https://pixi.sh/install.sh | bash
            source ~/.bashrc
            pixi install -v --locked -e pip-cpp
            pixi list -e pip-cpp
            # Global Tools
            pixi global install sccache
            yum install -y libcurl-devel zlib-devel
          CIBW_BEFORE_BUILD: |
            # Delete mpi4py folder if it exists so correct version gets copied in
            rm -r {package}/bodo/mpi4py || true
            rm -rf {package}/build
            rm -f {package}/mpich.whl
          CIBW_ENVIRONMENT: >-
            DISABLE_CCACHE=1
            SCCACHE_BUCKET=engine-codebuild-cache
            SCCACHE_REGION=us-east-2
            SCCACHE_S3_USE_SSL=true
            SCCACHE_S3_SERVER_SIDE_ENCRYPTION=true
            MACOSX_DEPLOYMENT_TARGET=${{ inputs.os == 'macos-14' && '12.0' || '10.15' }}
            BODO_VENDOR_MPICH=1
            PATH=$HOME/.pixi/bin:$PATH
            CONDA_PREFIX=$(pwd)/.pixi/envs/pip-cpp
            SETUPTOOLS_SCM_PRETEND_VERSION=${{ inputs.bodo_version }}
          CIBW_ENVIRONMENT_LINUX: >
            PATH=/project/.pixi/envs/pip-cpp/bin:$HOME/.pixi/bin:$PATH
            LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/project/.pixi/envs/pip-cpp/lib
            CFLAGS="-isystem /project/.pixi/envs/pip-cpp/include -lz"
            CPPFLAGS="-isystem /project/.pixi/envs/pip-cpp/include -lz"
            CC=/project/.pixi/envs/pip-cpp/bin/x86_64-conda-linux-gnu-gcc
            CXX=/project/.pixi/envs/pip-cpp/bin/x86_64-conda-linux-gnu-g++
            DISABLE_CCACHE=1
            SCCACHE_BUCKET=engine-codebuild-cache
            SCCACHE_REGION=us-east-2
            SCCACHE_S3_USE_SSL=true
            SCCACHE_S3_SERVER_SIDE_ENCRYPTION=true
            BODO_VENDOR_MPICH=1
            CONDA_PREFIX=/project/.pixi/envs/pip-cpp
            SETUPTOOLS_SCM_PRETEND_VERSION=${{ inputs.bodo_version }}
          CIBW_ENVIRONMENT_PASS_LINUX: >
            AWS_ACCESS_KEY_ID
            AWS_SECRET_ACCESS_KEY
            AWS_SESSION_TOKEN
            AWS_DEFAULT_REGION
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            sccache --show-stats && 
            delocate-wheel --ignore-missing-dependencies --sanitize-rpaths
            -e libmpi -e libpmpi
            -e libarrow -e libarrow_acero -e libarrow_dataset -e libarrow_flight
            -e libarrow_python -e libarrow_python_flight -e libarrow_python_parquet_encryption
            -e libarrow_substrait -e libparquet
            --require-archs {delocate_archs} -v {wheel} &&
            python buildscripts/bodo/pip/macos/patch_libs_for_pip.py -p {wheel} &&
            mv {wheel} {dest_dir}
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            sccache --show-stats && 
            LD_LIBRARY_PATH=/project/.pixi/envs/pip-cpp/lib:$LD_LIBRARY_PATH auditwheel -v repair 
            --exclude libmpi.so.12 --exclude libmpi.so.40 
            --exclude libarrow.so.1801 --exclude libarrow_acero.so.1801 --exclude libarrow_dataset.so.1801 
            --exclude libarrow_python.so --exclude libparquet.so.1801 
            --plat manylinux_2_34_x86_64 {wheel} -w {dest_dir} && 
            python buildscripts/bodo/pip/manylinux/patch_libs_for_pip.py -p {dest_dir}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ inputs.os }}
          path: ./wheelhouse/*.whl
