name: Build and Publish BodoSQL Conda Binary

on:
  workflow_call:
    inputs:
      is-release:
        description: 'Is this a release build'
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 240

    steps:
      - uses: actions/checkout@v5
        with:
          # For setuptools_scm to be able to determine version,
          # we need to fetch the entire history
          fetch-depth: 0

      - name: Create Micromamba Environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: bodosql_build 
          create-args: conda-build anaconda-client python-libarchive-c setuptools_scm -c conda-forge
          cache-environment: true
          generate-run-shell: true
          init-shell: bash
          condarc: |
            channels:
              - conda-forge
            remote_max_retries: 5
            remote_backoff_factor: 60
            aggressive_update_packages: []
            conda_build:
              pkg_format: 2

      - name: 'Download the Bodo conda'
        uses: actions/download-artifact@v5
        with:
          name: bodo-conda-3.14-linux-x86
          run-id: ${{ github.event.workflow_run.id }}
          path: ./Bodo-CondaPkg-Linux

      - name: 'Build Conda Package'
        run: |
          set -exo pipefail
          eval "$(micromamba shell hook -s posix)"
          micromamba activate bodosql_build

          # Determine Output Version
          export BODOSQL_VERSION=$(python -m setuptools_scm)
          echo "BODOSQL_VERSION=$BODOSQL_VERSION" >> $GITHUB_ENV

          # Build Conda Package with Conda-Build
          conda build buildscripts/bodosql/conda-recipe -c conda-forge -c ./Bodo-CondaPkg-Linux --croot $HOME/conda-bld
        shell: bash
        env:
          BODOSQL_VERSION: ${{ env.BODOSQL_VERSION }}
          BODO_NUM_WORKERS: 1

      - name: Upload Conda Package
        uses: actions/upload-artifact@v4
        with:
          name: bodosql-conda-noarch
          path: /home/ec2-user/conda-bld/

      - name: 'Set Secret File Permissions and Publish BodoSQL Binary to Artifactory'
        if: ${{ inputs.is-release }}
        run: |
          set -eo pipefail

          echo "BODOSQL_VERSION: $BODOSQL_VERSION"
          artifactory_channel=`./buildscripts/bodosql/get_channel.sh`
          echo "artifactory_channel: $artifactory_channel"
          ./buildscripts/bodosql/publish_binary.sh $artifactory_channel
        shell: bash
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
