name: GPU Pixi CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-single-gpu

    timeout-minutes: 120

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure docker
        run: |
          set -eo pipefail

          sudo dnf install -y nvidia-container-toolkit
          sudo nvidia-ctk runtime configure --runtime=docker
          sudo systemctl restart docker
          docker run --rm --gpus all nvidia/cuda:13.1.1-cudnn-devel-ubuntu24.04 nvidia-smi

      - name: Show GPU info
        run: nvidia-smi

