name: GPU Pixi CI
on:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-multi-gpu

    timeout-minutes: 120

    steps:

      - name: GPU Info
        run: |
          nvidia-smi

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v0.63.2
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          environments: 'default-cuda'
          activate-environment: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::427443013497:role/BodoEngineNightlyRole
          role-session-name: BodoEnginePrCiSession
          role-skip-session-tagging: true

      - name: Build Bodo
        run: |
          pixi run build-bodo-cudf
        shell: bash
        env:
          # We should just use sccache directly on CI
          DISABLE_CCACHE: 1

      - name: Run GPU Tests
        run: |
          set -eo pipefail

          pytest -vW ignore bodo/tests/test_streaming/test_gpu_batch_gen.cpp bodo/tests/test_streaming/test_gpu_shuffle.cpp



