name: GPU Pixi CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-single-gpu

    timeout-minutes: 120

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Show GPU info
        run: nvidia-smi

