name: GPU Pixi CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-single-gpu

    timeout-minutes: 120

    steps:

      - name: Install NVIDIA Drivers
        run: |
          set -eo pipefail

          sudo dnf update -y
          sudo dnf install -y kernel-modules-extra dkms
          sudo dnf config-manager \
            --add-repo=https://developer.download.nvidia.com/compute/cuda/repos/amzn2023/x86_64/cuda-amzn2023.repo
          sudo dnf install -y nvidia-open
          nvidia-smi

      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0



