name: GPU Pixi CI
on:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-single-gpu

    timeout-minutes: 120

    container:
      image: nvidia/cuda:13.1.1-cudnn-devel-ubuntu24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Show GPU info
        run: nvidia-smi

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH
          pixi --version

      - name: Build Bodo
        run: |
          pixi run build-bodo-cudf

      - name: Run GPU tests
        run: |
          pixi run -e default-cuda pytest -v bodo/tests/test_streaming/test_gpu_shuffle.cpp
