name: GPU Pixi CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-single-gpu

    timeout-minutes: 120

    steps:

      - name: Configure docker
        run: |
          set -eo pipefail

          sudo curl -s -L https://nvidia.github.io/libnvidia-container/stable/rpm/nvidia-container-toolkit.repo   -o /etc/yum.repos.d/nvidia-container-toolkit.repo
          sudo dnf install -y nvidia-container-toolkit \
                    libnvidia-container-tools \
                    libnvidia-container1 \
                    nvidia-container-runtime
          sudo nvidia-ctk runtime configure --runtime=docker
          sudo systemctl restart docker
          sudo docker run --rm --gpus all nvidia/cuda:13.1.1-cudnn-devel-ubuntu24.04 nvidia-smi

      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0



