name: GPU Pixi CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-single-gpu

    timeout-minutes: 120

    steps:

      - name: Install NVIDIA Drivers
        run: |
          set -eo pipefail

          sudo dnf update -y
          sudo dnf config-manager \
            --add-repo=https://developer.download.nvidia.com/compute/cuda/repos/amzn2023/x86_64/cuda-amzn2023.repo
          sudo dnf install -y nvidia-open
          nvidia-smi

      - uses: prefix-dev/setup-pixi@v0.9.0
        with:
          pixi-version: v0.63.2
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          environments: 'default-cuda'
          activate-environment: true

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build Bodo
        run: |
          pixi run build-bodo-cudf
        shell: bash
        env:
          # We should just use sccache directly on CI
          DISABLE_CCACHE: 1

      - name: Run GPU Tests
        run: |
          set -eo pipefail

          pytest -vW ignore bodo/tests/test_streaming/test_gpu_batch_gen.cpp bodo/tests/test_streaming/test_gpu_shuffle.cpp



