name: GPU Pixi CI
on:
  pull_request:
  workflow_dispatch:

jobs:
  gpu-ci:
    runs-on: self-hosted-single-gpu

    timeout-minutes: 120

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Nvidia Drivers
        run: |
          set -euxo pipefail

          lspci | grep NVIDIA

          sudo dnf install -y dnf-plugins-core
          sudo dnf config-manager --add-repo \
            https://developer.download.nvidia.com/compute/cuda/repos/amzn2023/x86_64/cuda-amzn2023.repo
          sudo dnf clean all
          sudo dnf makecache --refresh --disablerepo="*" --enablerepo="cuda-amzn2023-x86_64"
          sudo dnf install -y \
            kernel-devel-$(uname -r) \
            kernel-headers-$(uname -r) \
            gcc \
            make
          sudo dnf install -y \
            nvidia-driver \
            nvidia-driver-cuda \
            nvidia-persistenced \
            --enablerepo="cuda-amzn2023-x86_64"


      - name: Show GPU info
        run: nvidia-smi

