name: Release
on:
  schedule:
    - cron: '0 21 * * 1,2,3,4,5'  # 9PM EST Mon, Wed, Fri
  release:
    types: [published]
  workflow_dispatch:
  pull_request:
    paths:
      - 'pixi.lock'
      - '.github/workflows/release.yml'
      - '.github/workflows/_build_*.yml'

jobs:
  # For Linux, we need to build conda inside a docker container for best support.
  # But for the platform package to have the best potential performance,
  # we want to build outside of a container on the native architecture.
  # MacOS also builds on the native VM (no docker container). Thus, they are grouped together.
  bodo-conda-linux-x86:
    strategy:
      # Don't cancel other jobs if one fails
      fail-fast: false
      matrix:
        python-version: ['3.14', '3.13', '3.12', '3.11', '3.10']
    uses: ./.github/workflows/_build_bodo_conda_linux_comm.yml
    with:
      python-version: ${{ matrix.python-version }}
      is-release: ${{ github.event_name == 'release' }}
      arm: false
    secrets: inherit
  bodo-conda-linux-arm:
    # Don't publish linux arm until we can get nightly fixed
    if: false
    strategy:
      # Don't cancel other jobs if one fails
      fail-fast: false
      matrix:
        # On pull requests, only test building for 3.14
        python-version: ${{ fromJson(github.event_name == 'pull_request' && '["3.14"]' || '["3.14", "3.13", "3.12", "3.11", "3.10"]') }}
    uses: ./.github/workflows/_build_bodo_conda_linux_comm.yml
    with:
      python-version: ${{ matrix.python-version }}
      is-release: ${{ github.event_name == 'release' }}
      arm: true
    secrets: inherit
  bodo-conda-mac-and-windows:
    strategy:
      # Don't cancel other jobs if one fails
      fail-fast: false
      matrix:
        # On pull requests, only test building for 3.14
        python-version: ${{ fromJson(github.event_name == 'pull_request' && '["3.14"]' || '["3.14", "3.13", "3.12", "3.11", "3.10"]') }}
        os: ['macos-14', 'windows-latest']
    uses: ./.github/workflows/_build_bodo_conda_native.yml
    with:
      python-version: ${{ matrix.python-version }}
      platform-build: false
      is-release: ${{ github.event_name == 'release' }}
      os: ${{ matrix.os }}
    secrets: inherit
  bodo-conda-platform:
    uses: ./.github/workflows/_build_bodo_conda_native.yml
    with:
      python-version: '3.13'
      platform-build: true
      is-release: ${{ github.event_name == 'release' }}
      os: ubuntu-latest
    secrets: inherit

  iceberg-conda:
    uses: ./.github/workflows/_build_iceberg_conda.yml
    secrets: inherit
  bodosql-conda:
    needs: bodo-conda-linux-x86
    uses: ./.github/workflows/_build_bodosql_conda.yml
    with:
      is-release: ${{ github.event_name == 'release' }}
    secrets: inherit

  docker-img:
    # Don't publish linux arm until we can get nightly fixed
    #needs: [bodo-conda-linux-x86, bodo-conda-linux-arm, iceberg-conda, bodosql-conda]
    needs: [bodo-conda-linux-x86, iceberg-conda, bodosql-conda]
    uses: ./.github/workflows/docker_build_and_publish.yml
    with:
      is-release: ${{ github.event_name == 'release' }}
    secrets: inherit

  # TODO: Include E2E tests, and AMI
