# Validates Terraform code for Engine's Self-Hosted Github Actions CI
name: Regenerate Terraform for Self-Hosted CI
on:
  pull_request:
    branches:
    - main
    paths:
      - "buildscripts/github/self_hosted_tf/**"
  push:
    branches:
    - main
    paths:
      - "buildscripts/github/self_hosted_tf/**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    defaults:
      run:
        shell: bash
        working-directory: ./buildscripts/github/self_hosted_tf
    steps:
    - uses: actions/checkout@v6
    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.7.1
    - uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-region: us-east-2
        role-to-assume: arn:aws:iam::427443013497:role/SelfHostedGHTerraformRole
        role-session-name: SelfHostedTerraformRegenCI
        role-skip-session-tagging: true
        role-duration-seconds: 7200

    - name: Terraform Fmt
      id: fmt
      run: terraform fmt -check
    - name: Terraform Init
      id: init
      run: terraform init
    - name: Terraform Validate
      id: validate
      run: terraform validate
    - name: Terraform Plan
      id: plan
      run: terraform plan -input=false -var 'github_app_id=804367' -var 'github_key_base64=${{ secrets.SELF_HOSTED_TF_KEY_BASE64 }}'

    - name: Terraform Apply
      id: apply
      if: github.ref == 'refs/heads/main'
      run: terraform apply -input=false -lock-timeout=600s -auto-approve -var 'github_app_id=804367' -var 'github_key_base64=${{ secrets.SELF_HOSTED_TF_KEY_BASE64 }}'
